<div class="row" *ngFor="let session of visibleSessions">
  <div class="col-md-10">
    <div class="well"></div>

    <div class="card text-white bg-dark mb-3">
      <div class="card-header">
        <h4>{{ session.name }}</h4>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          <h6>{{ session.presenter }}</h6>
        </h5>
        <div class="card-text">
          <span>Duration: {{ session.duration | duration }}</span
          ><br />
          <span>Level: {{ session.level }}</span>
          <p>{{ session.abstract }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
